body{
  margin:0;
  font-family:'Merriweather', serif;
  font-size:100%;
  text-align:center;
  background-color:#F5FFFA;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size:2.6rem;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

p{
  line-height:2;
  font-size:1.2rem;
}

.heading{
  text-decoration:underline;
}

td{
  width: 500px;
  overflow: hidden;
}

.education{
  margin:auto;
  width:95%;
}

.years{
  margin-left: auto;
  margin-right: auto;
  border:1px;
}

.xaviers{
width:100%;
}

.eklavya{
width:100%;
}

.kgp{
width:95%;
}
