body{
  margin:0;
  font-family:'Merriweather', serif;
  font-size:100%;
  text-align:center;
  background-color:#F5FFFA;
}

 hr {
  border:none;
  border-top:5px dotted grey;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:5%;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size:2.6rem;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

p{
  line-height:2;
  font-size:1.2rem;
}

.welcome{
  text-align:center;
}


.dp{
  border-radius:100%;
  width:15%;
}

.intro{
  width:50%;
  margin:auto;
}

.bottom{
  background-color:#FFDAB9;
  height:40px;
  padding-top:25px;
}

a{
  color:#000000;
  font-family: 'Montserrat', sans-serif;
  text-decoration:none;
  margin:0 5px;
}

a:hover{
  color:#48D1CC;
}

.copyright{
  margin: 0 1175px 0 0;
}

#grad1{
  font-size:1.5rem;
}

.btn {
  background: #29859e;
  background-image: -webkit-linear-gradient(top, #29859e, #2980b9);
  background-image: -moz-linear-gradient(top, #29859e, #2980b9);
  background-image: -ms-linear-gradient(top, #29859e, #2980b9);
  background-image: -o-linear-gradient(top, #29859e, #2980b9);
  background-image: linear-gradient(to bottom, #29859e, #2980b9);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 12px 10px 12px;
  text-decoration: none;
}

.btn:hover {
  background: #2c5680;
  text-decoration: none;
}
