body{
  background-color:white;
  margin:0;
  font-family:'Merriweather', serif;
  font-size:100%;
  text-align:center;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size:2.6rem;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

p{
  line-height:2;
}

.myskills{
  text-decoration: underline;
}

.a{
  width:50%;
  margin:auto;
}

.guitar-img{
  float:left;
  margin:20px;
  width:20%;
}

.guitar{
  text-align:left;
}

.reaper-img{
  float:right;
  margin:20px;
  width:20%;
}

.sound{
  text-align:left;
}

.b{
  width:50%;
  margin:auto;
}

.premiere{
  width:50%;
}


.photoshop{
  width:50%;
}

.html{
  width:50%;
}

.css{
  width:50%;
}

td {
  width: 250px;
  overflow: hidden;
}
